<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="admin-content">
      <form class="" action="" method="post">
        <div class="product-id">
          <input type="integer" name="product_id" value="">
        </div>
        <div class="product-name">
          <input type="text" name="product_name" value="">
        </div>
        <div class="product-submit">
          <input type="submit" name="product_submit" value="submit">
        </div>
      </form>
    </div>
  </body>
</html>
