<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="admin-content">
      <form class="" action="show/" method="post">
        <div class="product-id">
          <label for="product_id">product id</label>
          <input type="number" name="product_id" value="">
        </div>
        <div class="product-name">
          <label for="product_name">product name</label>
          <input type="text" name="product_name" value="">
        </div>
        <div class="product-description">
          <label for="product_description">product description</label>
          <input type="text" name="product_description" value="">
        </div>
        <div class="product-price">
          <label for="product_price">product price</label>
          <input type="number" name="product_price" value="">
        </div>
        <div class="product-category">
          <label for="product_category">product category</label>
          <input type="text" name="product_category" value="">
        </div>
        <div class="product-submit">
          <input type="submit" name="product_submit" value="submit">
        </div>
      </form>
    </div>
  </body>
</html>
